# **Importación de librerias**

In [45]:
import pandas as pd

# **Tipificacion sobre los datos limpios**

In [46]:
df_typify_clean = pd.read_csv('../data/airline_clean_data.csv')

In [47]:

# Información general
df_typify_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             103904 non-null  int64
 1   Customer Type                      103904 non-null  int64
 2   Age                                103904 non-null  int64
 3   Type of Travel                     103904 non-null  int64
 4   Class                              103904 non-null  int64
 5   Flight Distance                    103904 non-null  int64
 6   Inflight wifi service              103904 non-null  int64
 7   Departure/Arrival time convenient  103904 non-null  int64
 8   Ease of Online booking             103904 non-null  int64
 9   Gate location                      103904 non-null  int64
 10  Food and drink                     103904 non-null  int64
 11  Online boarding                    103904 non-null  int64
 12  Seat comfort                       103904 non-null  int64
 13  Inflight entertainment             103904 non-null  int64
 14  On-board service                   103904 non-null  int64
 15  Leg room service                   103904 non-null  int64
 16  Baggage handling                   103904 non-null  int64
 17  Checkin service                    103904 non-null  int64
 18  Inflight service                   103904 non-null  int64
 19  Cleanliness                        103904 non-null  int64
 20  Departure Delay in Minutes         103904 non-null  int64
 21  Arrival Delay in Minutes           103904 non-null  float64
 22  satisfaction                       103904 non-null  int64
dtypes: float64(1), int64(22)
memory usage: 18.2 MB

In [48]:
df_typify_clean.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [49]:

#importamos el modulo de estandarizacion
from sklearn.preprocessing import StandardScaler

In [50]:

# definir las columnas a normalizar
colum_normal = (['Age',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       ])

In [51]:


print("\nRango de 'Age' antes de la normalización:")
print(df_typify_clean['Age'].min(), df_typify_clean['Age'].max())
scaler = StandardScaler()
# Aplicar el scaler
df_typify_clean[colum_normal ] = scaler.fit_transform(df_typify_clean[colum_normal ])

print("\nRango de 'Age' después de la normalización:")
print(df_typify_clean['Age'].min(), df_typify_clean['Age'].max())

Rango de 'Age' antes de la normalización:
7 85

Rango de 'Age' después de la normalización:
-2.142238825522583 3.0182350531236466

In [52]:

# Crear el scaler
scaler = StandardScaler()

# Aplicar el scaler a las columnas seleccionadas
df_typify_clean[colum_normal] = scaler.fit_transform(df_typify_clean[colum_normal])

In [53]:


# Mostrar el DataFrame con las columnas tipificadas
print("\nDataFrame con columnas tipificadas:")
df_typify_clean

DataFrame con columnas tipificadas:

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,0,-1.745279,0,0,-0.731539,0.203579,0.616172,0.173776,-1.547323,...,1.231704,0.479403,-0.266840,0.311769,0.549799,1.156436,1.305870,0.266393,0.074169,0
1,0,1,-0.951360,1,1,-0.957184,0.203579,-0.695245,0.173776,0.018094,...,-1.769081,-1.849161,1.253380,-0.535045,-1.821012,0.305848,-1.742292,-0.361375,-0.236313,0
2,1,0,-0.885200,1,1,-0.047584,-0.549533,-0.695245,-0.541060,-0.764614,...,1.231704,0.479403,-0.266840,0.311769,0.549799,0.305848,1.305870,-0.387532,-0.391554,1
3,1,0,-0.951360,1,1,-0.629246,-0.549533,1.271880,1.603448,1.583511,...,-1.018885,-1.072973,1.253380,-0.535045,-1.821012,0.305848,-0.980251,-0.099805,-0.158692,0
4,0,0,1.430397,1,1,-0.978244,0.203579,-0.039537,0.173776,0.018094,...,-0.268688,-0.296785,0.493270,0.311769,-0.240472,-0.544740,-0.218211,-0.387532,-0.391554,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,1,1,-1.083680,1,2,-1.000307,-0.549533,-1.350954,-0.541060,0.018094,...,-1.018885,-0.296785,-1.787061,0.311769,-1.030742,-0.544740,-0.980251,-0.309061,-0.391554,0
103900,0,0,0.636478,1,1,1.160869,0.956691,0.616172,0.888612,0.800803,...,1.231704,1.255590,1.253380,1.158582,1.340069,1.156436,0.543829,-0.387532,-0.391554,1
103901,0,1,-0.620561,1,1,0.807860,-1.302646,-1.350954,-1.255895,0.018094,...,0.481508,-0.296785,-1.026951,0.311769,1.340069,1.156436,0.543829,-0.204433,-0.029325,0
103902,1,1,-1.149840,1,2,-0.189991,-1.302646,-1.350954,-1.255895,1.583511,...,-1.769081,0.479403,1.253380,-2.228672,1.340069,0.305848,-1.742292,-0.387532,-0.391554,0
103903,0,0,-0.819040,1,1,0.535081,-1.302646,-0.039537,0.173776,0.018094,...,-1.769081,-1.849161,-1.787061,0.311769,0.549799,-0.544740,-1.742292,-0.387532,-0.391554,0

In [54]:

# Guardar el DataFrame preprocesado en un archivo CSV.
df_typify_clean.to_csv('../data/airline_passenger_satisfaction_model.csv', index=False)